body{

font-family:Arial;
background:#0f0f0f;
color:white;
text-align:center;
padding:40px;

}

h1{

color:#46ff84;

}

.subtitle{

color:#aaa;
margin-bottom:25px;

}

.tabs button{

padding:10px 20px;
margin:5px;
background:#222;
color:white;
border:none;
cursor:pointer;

}

.tabs button:hover{

background:#46ff84;
color:black;

}

input,select{

display:block;
margin:10px auto;
padding:8px;
width:230px;

}

button{

padding:10px 20px;
margin-top:10px;
background:#46ff84;
border:none;
font-weight:bold;
cursor:pointer;

}

button:hover{

background:#2ed66c;

}

ul{

list-style:none;
padding:0;

}